@using AspNetCore.ReCaptcha
@model CAEV.PagoLinea.Models.LoginRequest
@{
    ViewData["Title"] = "Auth";
    Layout = "_GuestLayout";
}


<div class="container mt-4">
    @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class="form-login border rounded shadow"})) {
        <div class="form-group mb-2">
            <label for="username" class="form-label">Usuario:</label>
            @Html.TextBoxFor(model => model.Usuario, new { @class = "form-control", @placeholder = "", @id="username" })
            @Html.ValidationMessageFor(model => model.Usuario, null, new { @class = "text-danger"})
        </div>
        <div class="form-group mb-2">
            <label for="password" class="form-label">Contraseña:</label>
            @Html.PasswordFor( model => model.Password, new { @class = "form-control", @id="password" })
            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger"})
        </div>
        <div class="form-group my-1 py-1 d-flex justify-content-center">
            @Html.ReCaptcha()
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success mt-4">Iniciar Sesion</button>
        </div>
        
        @if (ViewBag.Message != null){
            <p style="color:red;">@ViewBag.Message</p>
        }
    }
</div>

<style>
    .form-login{
        max-width: 24rem;
        padding: 1rem;
        margin: 0 auto;
    }
</style>

