@{
    ViewData["Title"] = "Pago en Linea";
}

@model CAEV.PagoLinea.Models.CuentaPadron

<div class="text-center">
    <h1 class="display-4">Pago en linea</h1>
    <p style="max-width: 44rem; margin: 0 auto ;">Ten tu recibo a la mano para realizar tu pago. Por favor, asegúrate de tener los detalles correctos antes de proceder con el pago de tu factura.</p>
</div>


<div class="container mt-4 mb-5 pb-5">

    <div class="stepwizard">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-secondary btn-circle" disabled>1</button>
            <p>Consulta tu saldo</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle" disabled>2</button>
            <p>Comprueba tus datos</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-secondary btn-circle" disabled>3</button>
            <p>Realiza tu pago</p>
        </div>
    </div>
    
    <div class="card datos shadow">
        <div class="card-header">
            2.- Comprueba tus datos
        </div>
        <div class="card-body">
            @using (Html.BeginForm("InvoiceData", "Invoice", FormMethod.Post)){
                <div class="mb-3">
                    <label for="localidad" class="form-label">Localidad</label>
                    @Html.TextBoxFor(model => model.Localidad, new { @class = "form-control", @disabled="true" })
                </div>
                <div class="mb-3">
                    <label for="cuenta" class="form-label">Cuenta</label>
                    @Html.TextBoxFor(model => model.IdCuenta, new { @class = "form-control", @disabled="true" })
                </div>
                <div class="mb-3">
                    <label for="cuenta" class="form-label">Razon Social</label>
                    @Html.TextBoxFor(model => model.RazonSocial, new { @class = "form-control", @disabled="true" })
                </div>
                <div class="mb-3">
                    <label for="cuenta" class="form-label">Total</label>
                    @Html.TextBoxFor(model => model.TotalFormated, new { @class = "form-control", @disabled="true" })
                </div>
                <div class="mb-3">
                    <label for="cuenta" class="form-label">Periodo Factura</label>
                    @Html.TextBoxFor(model => model.PeriodoFactura, new { @class = "form-control", @disabled="true" })
                </div>

                <div class="mb-3">
                    <label for="cuenta" class="form-label">Ultima Actualizacion</label>
                    @Html.TextBoxFor(model => model.UpdatedAt, new { @class = "form-control", @disabled="true" })
                </div>

                <div class="d-flex justify-content-center">
                    <input type="submit" class="btn btn-primary btn-lg btn-success" value="Confirmar Datos" />
                </div>
            }
        </div>
    </div>

</div>


<style>
    .stepwizard {
    display: flex;
    justify-content: space-between;
}
.stepwizard .btn {
    margin: 0 5px;
}
.stepwizard-step {
    flex: 1;
    text-align: center;
}
.stepwizard-step .btn-circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.card.datos{
    max-width: 32rem;
    margin: 1rem auto;
}
</style>