@{
    ViewData["Title"] = "Pago en Linea";
    Layout = "_GuestLayout";
}

@model CAEV.PagoLinea.LayoutEnvio?

<div class="text-center">
    <p style="max-width: 44rem; margin: 0 auto ;">Ten tu recibo a la mano para realizar tu pago. Por favor, asegúrate de tener los detalles correctos antes de proceder con el pago de tu recibo.</p>
</div>


<div class="container mt-4 mb-5 pb-5">

    <div class="stepwizard">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-secondary btn-circle" disabled>1</button>
            <p>Consulta tu saldo</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-secondary btn-circle" disabled>2</button>
            <p>Comprueba tus datos</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle" disabled>3</button>
            <p>Realiza tu pago</p>
        </div>
    </div>
    
    <div class="card datos shadow">
        <div class="card-header">
            3.- Realizar pago
        </div>

        @if(Model != null){
        <div class="card-body">
            <form id="form" name="form" method="POST" action="https://prepro.adquiracloud.mx/multipagos/portal/v2/payment">
                <input type="hidden" name="mp_product" value="@Model.Product" />
                <input type="hidden" name="mp_reference" value="@Model.Reference" />
                <input type="hidden" name="mp_order" value="@Model.Order" />
                <input type="hidden" name="mp_amount" value="@Model.AmmountString" />
                <input type="hidden" name="mp_concept" value="@Model.Concept" />
                <input type="hidden" name="mp_account" value="@Model.Account" />
                <input type="hidden" name="mp_node" value="@Model.Node" />
                <input type="hidden" name="mp_customername" value="@Model.Customername" />
                <input type="hidden" name="mp_currency" value="@Model.Currency" />
                <input type="hidden" name="mp_signature" value="@Model.Signature" />
                <input type="hidden" name="mp_urlsuccess" value="@Model.Urlsuccess" />
                <input type="hidden" name="mp_urlfailure" value="@Model.Urlfailure" />
            </form>
            <div class="d-flex flex-column align-items-center justify-content-around">
                <div>Procesando solicitud</div>

                <div class="spinner-border my-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        }else{
            <div class="card-body">
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-secondary mx-auto" asp-action="Index">Continuar</a>
                </div>
            </div>
        }
    </div>

</div>

@section scripts {
    @if( Model != null){
        <script>
            var tid = setInterval( function () {
                if ( document.readyState !== 'complete' ) return;
                clearInterval( tid );
                document.form.submit();
            }, 500 );
        </script>
    }
}