@{
    ViewData["Title"] = "Oficinas";
}
@model IEnumerable<CAEV.PagoLinea.Models.CatOficina>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a asp-action="Dashboard" asp-controller="Auth">Dashboard</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Catalogo Oficinas
            </li>
        </ol>
    </nav>
</div>

<div class="container my-1">
    <h1 class="text-center text-uppercase" style="font-size: 1.75rem;">Catalogo Oficinas</h1>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Oficina</th>
                <th>Servidor</th>
                <th>Base de Datos</th>
                <th>Usuario</th>
                <th>Actualizable</th>
                <th>Inactivo</th>
                <th>Ultima Actualizacion</th>
                <th>Actualizar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var oficina in Model)
            {
                <tr>
                    <td>@oficina.Id</td>
                    <td>@oficina.Oficina</td>
                    <td>@oficina.Servidor</td>
                    <td>@oficina.BaseDatos</td>
                    <td>@oficina.Usuario</td>
                    <td class="text-center">
                        <div class="form-check form-switch">
                            <input class="chb-oficina-update form-check-input mx-auto" type="checkbox" role="switch" id="chb_@oficina.Id" checked="@(oficina.Actualizable ?true:null)">
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="form-check form-switch">
                            <input class="chb-oficina-inactive form-check-input mx-auto" type="checkbox" role="switch" id="chb_@oficina.Id" checked="@(oficina.Inactivo ?true:null)">
                        </div>
                    </td>
                    <td class="text-center">
                        @( oficina.UltimaActualizacion == null ?"--" : oficina.UltimaActualizacion.Value.ToUniversalTime() )
                    </td>
                    <td>
                        <a type="button" href="@Url.Action("UpdateOffice", "Office", new { officeId = oficina.Id })" class="btn btn-primary btn-sm rounded">Actualizar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section styles {
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet">
}

@section scripts {
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
    <script>
        $(document).ready(function(){

            $(".chb-oficina-update").change(function(sender) {
                var oficinaId = sender.target.id.split("_")[1];
                var enable = this.checked ?1 :0;
                $.ajax({
                    url: '/admin/office/enable-updated', // URL of the API
                    type: 'POST', // HTTP method
                    contentType: 'application/x-www-form-urlencoded', //
                    data: {
                        officeId: oficinaId,
                        enable: enable
                    },
                    success: function(data) {
                        Swal.fire({
                            title: "Oficina actualizada",
                            icon: "success"
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error('AJAX Error: ', status, error);
                    }
                });
            });

            $(".chb-oficina-inactive").change(function(sender) {
                var oficinaId = sender.target.id.split("_")[1];
                var inactive = this.checked ?1 :0;
                $.ajax({
                    url: '/admin/office/change-status', // URL of the API
                    type: 'POST', // HTTP method
                    contentType: 'application/x-www-form-urlencoded', //
                    data: {
                        officeId: oficinaId,
                        inactive: inactive
                    },
                    success: function(data) {
                        Swal.fire({
                            title: "Oficina actualizada",
                            icon: "success"
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error('AJAX Error: ', status, error);
                    }
                });
            });
        });
    </script>
}